appnope
beautifulsoup4
blinker
decorator
docutils
entrypoints
feedgenerator
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Markdown
MarkupSafe
mistune
nbconvert
nbformat
notebook
pelican
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
pyzmq
qtconsole
simplegeneric
six
terminado
tornado
traitlets
Unidecode
wcwidth
widgetsnbextension
